*.o
*.DS_Store
/backup/
/Test_PointerContainer.app/
/Test_PointerContainer.dSYM/
*.ppu
*.rst
*.s
*.sh
/Test_PointerContainer
*.compiled
*.or
*.res
*.lps
/__history/
/bin/
/intermediate/
*.dproj.local
