*.o
*.DS_Store
/backup/
/Test_PointerContainer.app/
/Test_PointerContainer.dSYM/
*.ppu
*.rst
*.s
*.sh
/Test_PointerContainer
*.compiled
*.or
*.res
*.lps
/__history/
/bin/
/intermediate/
*.dproj.local
*.stat
*.identcache
*.dsk
*.~*
/CnvStrUtils.pas
/HashTrie.pas
/Mkregex.pas
/uCnvPChar.pas
/TestTriesLazarus
/TestTriesLazarus.app/
/uAllocators.pas
